/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
}

li a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

/* TYPOGRAPHY */

body {
  font-family: Roboto, sans-serif;
}

/* HEADER AND MAIN */

.header-wrapper {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

/* header */

header {
  width: 63%;
}

nav {
  font-size: 18px;
  color: #e5e7eb;
}

.nav {
  display: flex;
  gap: 20px;
  padding: 24px 0;
}

.logo {
  flex: 1;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

/* main */

.main-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.main-description {
  font-size: 18px;
  color: #e5e7eb;
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 1.8rem;
  font-weight: 900;
  align-self: flex-start;
}

main {
  display: flex;
  margin: 8rem 0;
}

main > * {
  flex: 1;
}

.image-placeholder {
  color: #e5e7eb;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INFORMATION SECTION */

.information-section {
  padding: 3rem 0 4.5rem 0;
}

.section-title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 3rem;
}

.cards-container {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.card {
  width: 150px;
  text-align: center;
  color: #1f2937;
  line-height: 1rem;
  font-size: 0.9rem;
}

.card-img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

/* TESTIMONIAL SECITON */

.testimonial-section {
  background-color: #e5e7eb;
  padding: 7rem;
  display: flex;
  justify-content: center;
}

.testimonial-wrapper {
  width: 50%;
}

blockquote {
  font-size: 36px;
  font-style: italic;
  color: #444d59;
}

.quote-author {
  font-weight: 700;
  text-align: end;
  font-size: 1.5rem;
}

/* CALL TO ACTION */

.cta {
  display: flex;
  justify-content: space-between;
  padding: 3rem 8rem;
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  width: 92%;
  margin: 6rem auto;
  font-size: 18px;
}

.cta-title {
  font-weight: 900;
  font-size: 25px;
}

.cta-description {
  color: #e5e7eb;
}

.cta-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  border: 3px solid #f9faf8;
  font-weight: 900;
  padding: 0.3rem 1.8rem;
  border-radius: 10px;
  font-size: 1rem;
  align-self: center;
}
