/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
}

li a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

/* TYPOGRAPHY */

body {
  font-family: Roboto, sans-serif;
}

/* HEADER AND MAIN */

.header-wrapper {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

/* header */

header {
  width: 63%;
}

nav {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 20px;
  padding: 24px 0;
}

.logo {
  flex: 1;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

/* main */

.main-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.main-description {
  font-size: 18px;
  color: #e5e7eb;
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 1.8rem;
  font-weight: 900;
  align-self: flex-start;
}
